ul li ul li {
  display: none;
}
ul li ul {
  border: 1px solid #000;
  display: none;
}
ul li:hover ul li {
  display: flex;
}
ul li:hover ul {
  display: flex;
}
ul {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
ul a {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
}
.items1 {
  width: 110px;
}
.items1 img {
  width: 100%;
}
.container {
  width: 1100px;
  border: 1px solid #000;
}
.container ul {
  gap: 10px;
}
.container ul li ul {
  width: 100%;
  gap: 10px;
}
.container ul li {
  margin-left: auto;
  margin-right: auto;
}
.container ul li ul {
  margin-left: auto;
  margin-right: auto;
}
.list {
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.items {
  position: absolute;
  right: 50%;
}
