.menu-list a {
  text-decoration: none;
  color: #000;
  text-decoration: none;
  color: #000;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  margin: 15px;
  /* color: #ffffff; */
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 10px;
}
.menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-list .cha {
}
.cha .con {
}
.cha .con .chau {
}
