/* img:vertical */
.movie {
  position: relative;
  width: 395px;
}
.movie-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
}
.movie-meta {
  display: flex;
  justify-content: space-between;
}
img {
  width: 100%;
  vertical-align: middle;
}
