* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 432px;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0, 0, 0, 0.265);
  margin-top: 30px;
  margin-bottom: 30px;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 255, 0.537);
}
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.align-end {
  align-items: flex-end;
}

.position-fixed {
  position: fixed;
  z-index: 310;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.top-100 {
  top: 100%;
}
.date p {
  width: 394px;
}
.card-vote p {
  width: 394px;
}
nav {
  padding: 16px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.276);
}
h2 {
  color: #1c1e21;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 38px;
}
p {
  color: #606770;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
}
.form {
  padding: 10px 16px;
}

.name input {
  width: 192px;
}
.php input {
  width: 394px;
}
.card-name input {
  height: 38px;
  padding: 11px 11px;
  border: 1.5px solid rgba(0, 0, 0, 0.336);
  border-radius: 5px;
  margin-bottom: 10px;
}
select {
  width: 123px;
  height: 38px;
  padding: 11px 11px;
}
.card-date {
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.date {
  width: 394px;
}
.box {
  width: 123px;
  padding: 11px 11px;
  border: 1px solid rgba(0, 0, 0, 0.279);
  border-radius: 4px;
}
.vote-item {
  width: 123px;
  border: 1px solid rgba(0, 0, 0, 0.279);
  border-radius: 4px;
  margin-bottom: 10px;
}
.flex-wrap {
  flex-wrap: wrap;
}
.item1 {
  width: 100px;
  padding: 11px 11px;
  border: 0;
}
.item2 {
  top: 10px;
  right: 10px;
  color: red;
}
a:hover {
  text-decoration: underline;
}
p {
  width: 394px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-family: inherit;
}
.box1 {
  width: 194px;
  height: 36px;
}
button {
  width: 194px;
  height: 36px;
  background-color: rgb(8, 212, 8);
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.div {
  width: 432px;
}
button:hover {
  background-color: rgba(10, 119, 10, 0.726);
}
